@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  --bg-colordark: #1e1f28;
  --bg-color: #edf2ff;
  --text-color: #00082f;
  --bg-color-links: #4263eb;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
  --bg-color-links-dark: #1e1f28;
  --primary-color-dark: #a61e4d;
}

body.neo {
  --bg-colordark: #1e1f28;
  --bg-color: #ecf0f3;
  --text-color: #272b30;
  --primary-color: #272b30;
  --primary-color-dark: #a61e4d;
}

body.dark {
  --bg-color: #1e1f28;
  --text-color: #fff;

  /*
    --bg-color: #1e1f28;
  --text-color: #ffffff;
  --bg-hover: #364fc7;
  --bg-color-links-dark: #1e1f28;
  */
}

body.dark a {
  border-radius: 4px;
  background: #9333EA;
}

body.dark a:hover {
  background-color: #A855F7;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body.dark-pink {
  --bg-color: #1f000b;
  --text-color: #ffffff;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3.7px;
  border: 4px solid var(--primary-color);
}

body.dark img.avatar {
  border: 4px solid var(--primary-color-dark);
}

h1.name-profile {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 2rem;
}

p.role {
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 0.8;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  margin-bottom: 1rem;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;

  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  justify-content: center;

  font-weight: 700;
  line-height: 10px;
  spacing: 5px;
=======
  justify-content: space-around;
  font-weight: 300;
>>>>>>> b11edc3aa57cca3b28719be28fabf62363ed2ef7
  font-size: 12px;
  color: var(--text-color);
  opacity: 0.6;
}

<<<<<<< HEAD
.heart-logo {
  width: 16px;
  margin: 0 .5rem;
=======
.heart {
  width: 20px;
  color: #a61e4d;
>>>>>>> b11edc3aa57cca3b28719be28fabf62363ed2ef7
}
